---
import CustomizeCard from "./CustomizeCard.astro";
import { customizes } from "../../../functions/constants/customizes";
import ComboTitle from "../../uis/astro/ComboTitle.astro";
import CustomizeCampaign from "./CustomizeCampaign.astro";
---

<div class="base-container">
  <div class="gap-wrapper">
    <ComboTitle
      headline="様々なコーヒーライフスタイルに"
      title="例えばこんなカスタマイズ"
    />

    <div class="customize-card-container">
      {customizes.map((customize) => <CustomizeCard customize={customize} />)}
    </div>

    <ComboTitle
      headline="すぐに始められるコーヒーライフ"
      title="あなたのカスタマイズで始めよう！"
    />

    <CustomizeCampaign />
  </div>
</div>

<style>
  .base-container {
    background-color: #f1f1f1;
    padding: 30px;
  }
  .base-container.-white {
    background-color: white;
  }
  .base-container.-center {
    text-align: center;
  }
  .gap-wrapper {
    display: grid;
    gap: 30px;
  }
  .customize-card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
</style>
