---
import CustomizeCard from "./CustomizeCard.astro";
import { customizes } from "../../../functions/constants/customizes";
import { ComboTitle } from "../../uis";
import CustomizeCampaign from "./CustomizeCampaign.astro";
import { BaseContainer } from "../../../functions/themes";
---

<BaseContainer>
  <div class="gap-wrapper">
    <ComboTitle
      headline="様々なコーヒーライフスタイルに"
      title="例えばこんなカスタマイズ"
      client:only="react"
    />

    <div class="customize-card-container">
      {customizes.map((customize) => <CustomizeCard customize={customize} />)}
    </div>

    <ComboTitle
      headline="すぐに始められるコーヒーライフ"
      title="あなたのカスタマイズで始めよう！"
      client:only="react"
    />

    <CustomizeCampaign />
  </div>
</BaseContainer>

<style>
  .gap-wrapper {
    display: grid;
    gap: 30px;
  }
  .customize-card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
</style>
