---
import Button from "../../uis/astro/Button.astro";
import PostcoffeeHeader from "../../../assets/images/image_postcoffee_header.jpeg";
---

<div class="hero-container">
  <img src={PostcoffeeHeader} alt="postcoffee-header" class="styled-image" />
  <div class="block">
    <p class="base-title -sub">
      コーヒー診断であなたにぴったりのコーヒーが毎月届く
    </p>
    <p class="base-title">
      コーヒーの定期便　
      <br />
      パーソナライズコーヒーBOX
    </p>
    <div>
      <Button large>無料でコーヒー診断</Button>
    </div>
  </div>
</div>

<style>
  @import "../../../functions/styles/base-title.css";
  .hero-container {
    padding: 90px 0 0 0;
    position: relative;
  }
  .styled-image {
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
    margin-bottom: -10px;
  }
  .block {
    position: absolute;
    top: calc(50% + 45px);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: grid;
    gap: 40px;
    text-align: center;
  }
</style>
