---
import "../../../functions/styles/base-text.css";
import "../../../functions/styles/base-container.css";
import { notifications } from "../../../functions/constants/notifications";
---

<div class="base-container -white">
  <div class="notification-container">
    <p class="headline">メディア掲載情報</p>
    <div class="scroll-panel">
      {
        notifications.map((notification) => (
          <div class="content-wrapper">
            <div class="flex-wrapper">
              <div class="block -w10">
                <p class="base-text">{notification.createdAt}</p>
              </div>
              <div class="block -w80">
                <p class="base-text">{notification.text}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .notification-container {
    width: 70%;
    height: auto;
    margin: 5% auto;
  }
  .scroll-panel {
    height: 500px;
    overflow-y: scroll;
  }
  .headline {
    font-size: 16px;
    width: fit-content;
    margin: 0 auto 20px;
    border-bottom: 1px solid black;
  }
  .content-wrapper {
    margin: 3% 0;
    padding: 3% 0;
    border-bottom: 1px solid #f1f1f1;
  }
  .flex-wrapper {
    display: flex;
  }
  .block {
    margin: 0 auto;
  }
  .block.-w10 {
    width: 10%;
  }
  .block.-w80 {
    width: 180%;
  }
</style>
