---
import type { Partner } from "../../../functions/types/Partner";
import Image from "../../uis/astro/Image.astro";
export interface Props {
  partner: Partner;
}

const { partner } = Astro.props;
---

<div class="partner-card-container">
  <div class="partner-card-wrapper">
    <div>
      <Image src={partner.image} alt={partner.image} width={160} height={120} />
    </div>
    <div class="content-wrapper">
      <p class="base-text">{partner.name}</p>
      <p class="base-text dotted-line-two">（{partner.prefecture}）</p>
    </div>
  </div>
</div>

<style>
  @import "../../../functions/styles/base-text.css";
  @import "../../../functions/styles/dotted-line.css";
  .partner-card-container {
    width: 20%;
    background-color: white;
    border: 1px solid black;
  }
  .content-wrapper {
    height: 80px;
  }
  .partner-card-wrapper {
    padding: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
</style>
