---
import PartnerCard from "./PartnerCard.astro";
import { partners } from "../../../functions/constants/partners";
import "../../../functions/styles/base-text.css";
import RoasterPartnerLogo from "../../../assets/images/image_roaster_partner_logo.png";
import RoasterBg from "../../../assets/images/image_roaster_bg.jpeg";
---

<div class="partner-container">
  <img src={RoasterBg} alt="roaster-bg" class="styled-bg-image" />
  <div class="block">
    <img src={RoasterPartnerLogo} alt="" class="styled-image" />
    <p class="base-text -white -bold">
      世界中の有名ロースターがパートナーに参画し、世界中のコーヒーをあなたの好みを届けるサービスへとアップデート
    </p>
    <p class="base-text -white -bold">
      自宅でも日本全国、また、世界各地のロースターの味を楽しんでいただけるよう、ロースターパートナーに参画していただき、世界中のコーヒーからあなた好みを届けるサービスへとアップデートしました。第一弾となる今回は、日本の屈指のロースター10社から個性豊かなコーヒー豆を取り揃えています。
    </p>
    <div class="flex-wrapper">
      {partners.map((partner) => <PartnerCard partner={partner} />)}
    </div>
  </div>
</div>

<style>
  .partner-container {
    position: relative;
  }
  .styled-bg-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: -10px;
  }
  .styled-image {
    width: 30%;
    height: auto;
    margin: auto;
    object-fit: cover;
  }
  .block {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: grid;
    gap: 40px;
    text-align: center;
  }
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
</style>
