---
import "../../../functions/styles/base-text.css";
import "../../../functions/styles/dotted-line.css";
import type { Partner } from "../../../functions/types/Partner";

export interface Props {
  partner: Partner;
}

const { partner } = Astro.props;
---

<div class="partner-card-container">
  <div>
    <img src={partner.image} alt={partner.image} />
    <div class="content-wrapper">
      <p class="base-text">{partner.name}</p>
      <p class="base-text dotted-line-two">（{partner.prefecture}）</p>
    </div>
  </div>
</div>

<style>
  .partner-card-container {
    width: 20%;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .content-wrapper {
    height: 80px;
  }
</style>
