---
import PostcoffeeBox from "../../../assets/webp/image_postcoffee_box.webp";
import Check from "../../../assets/images/image_check.png";
import Button from "../../uis/astro/Button.astro";
import ComboTitle from "../../uis/astro/ComboTitle.astro";
import Image from "../../uis/astro/Image.astro";
import Icon from "../../uis/astro/Icon.astro";

const PanelItems = [
  "マグとお湯を用意するだけでOK！",
  "縛りなしでスキップも簡単！",
  "ずっと、全国送料無料！",
];

const text =
  "好みに合わせて、豆の挽き方や頻度、分量、シュガー、ミルク（クリープ）などカスタマイズ！";
---

<div class="base-container -white">
  <div class="product-container">
    <div class="image-wrapper">
      <Image
        src={PostcoffeeBox}
        alt="postcoffee-box"
        width={640}
        height={480}
      />
    </div>

    <div class="product-content">
      <ComboTitle
        headline="あなた専用のコーヒーボックス"
        title={`すぐにコーヒーライフを始めるためのオールインワンボックス\n診断から好みにあったコーヒーが3種類`}
        shouldLeft
      />

      <p class="base-text -bold">{text}</p>

      <div class="panel-wrapper">
        {
          PanelItems.map((item) => (
            <div class="panel-item">
              <Icon src={Check} alt="image-check" />
              {item}
            </div>
          ))
        }
      </div>

      <div class="price-wrapper">
        <p class="ship">送料無料</p>
        <p class="excluding-tax">¥1,480~</p>
        <p class="base-text">（税込¥1,598~）</p>
      </div>

      <Button fullwidth>
        1分であなた好みのコーヒー診断 <br />無料でコーヒーを診断
      </Button>
    </div>
  </div>
</div>

<style>
  @import "../../../functions/styles/base-text.css";
  @import "../../../functions/styles/base-container.css";
  .product-container {
    width: 90%;
    margin: auto;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  .image-wrapper {
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-content {
    width: 40%;
    display: grid;
    gap: 20px;
  }
  .panel-wrapper {
    background-color: #f1f1f1;
    padding: 20px;
    display: grid;
    gap: 10px;
  }
  .panel-item {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .styled-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
  .price-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .ship {
    font-size: 16px;
    border: 1px solid black;
    padding: 5px;
  }
  .excluding-tax {
    font-weight: bold;
    font-size: 40px;
  }
</style>
