---
import FlexCard from "../../uis/astro/FlexCard.astro";
import { recommends } from "../../../functions/constants/recommends";
---

<div class="base-container -white">
  {
    recommends.map((recommend) => (
      <div class="base-container -white">
        <FlexCard card={recommend} />
      </div>
    ))
  }
</div>

<style>
  .base-container {
    background-color: #f1f1f1;
    padding: 30px;
  }
  .base-container.-white {
    background-color: white;
  }
  .base-container.-center {
    text-align: center;
  }
</style>
