---
import FlexCard from "../../uis/astro/FlexCard.astro";
import { recommends } from "../../../functions/constants/recommends";
---

<div class="base-container -white">
  {recommends.map((recommend) => <FlexCard card={recommend} />)}
</div>

<style>
  @import "../../../functions/styles/base-container.css";
</style>
