---
import FlexCard from "../../uis/astro/FlexCard.astro";
import { recommends } from "../../../functions/constants/recommends";
import "../../../functions/styles/base-container.css";
---

<div class="base-container -white">
  {
    recommends.map((recommend) => (
      <div class="base-container -white">
        <FlexCard card={recommend} />
      </div>
    ))
  }
</div>
