---
import StepCard from "../../uis/astro/StepCard.astro";
import { steps } from "../../../functions/constants/steps";

const formatSteps = [steps[4], steps[5], steps[6], steps[7]];
---

<div class="base-container">
  <div class="step-wrapper">
    {formatSteps.map((step) => <StepCard step={step} />)}
  </div>
</div>

<style>
  @import "../../../functions/styles/base-container.css";
  .step-wrapper {
    width: 90%;
    display: flex;
    margin: auto;
    gap: 2%;
  }
</style>
