---
import StepCard from "../../uis/astro/StepCard.astro";
import { steps } from "../../../functions/constants/steps";

const formatSteps = [steps[0], steps[1], steps[2], steps[3]];
---

<div class="base-container">
  <div class="step-wrapper">
    {formatSteps.map((step) => <StepCard step={step} />)}
  </div>
</div>

<style>
  @import "../../../functions/styles/base-container.css";
  .step-wrapper {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
</style>
