---
import FlexCard from "../../uis/astro/FlexCard.astro";
import { stores } from "../../../functions/constants/stores";
import "../../../functions/styles/base-container.css";
---

{
  stores.map((store) => (
    <div class="base-container -white">
      <FlexCard card={store} />
    </div>
  ))
}
