---
import FlexCard from "../../uis/astro/FlexCard.astro";
import { stores } from "../../../functions/constants/stores";
---

<div class="base-container -white">
  {stores.map((store) => <FlexCard card={store} />)}
</div>

<style>
  @import "../../../functions/styles/base-container.css";
</style>
